@media (max-width:768px){
    .header{
        padding: 0;
    }
    .intro>nav>div, .intro nav ul{
        width: 100%;
        text-align: center;
    }
    .intro nav ul li{
        display: block;
        padding: 10px;
    }
    .card{
        width: 100%;
    }
    .card>div{
        width: 79%;
    }
    .card-row1{
        padding: 10px;
    }
    .list1, .list2, .intro{
        width: 100%;
    }
    .list1 ul{
        float: none;
    }
    .fitness{
        padding:10px;
    }
    .fitness-card{
        width:100%;
        margin-bottom: 20px;
    }
    .days table td{
        padding: 10px;
    }
    .google-map iframe{
        width: 100%;
    }
    .contact-card{
        width: 100%;
        padding: 10px;
    }
    .contact input{
        width: 100%;
    }
    .contact-card, .google-map{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1200px){
    .intro>nav>div, .intro nav ul{
        width: 100%;
        text-align: center;
    }
    .card{
        width: 50%;
    }
    .card-row1{
        padding: 10px;
    }
    .fitness{
        padding:10px;
    }
    .fitness-card{
        margin-bottom: 20px;
    }
}